.container{
	width: 100vw;
	height: 100vh;
	background: #ececec80;
}

.gcBlock{
	width:100vw;
	height: 160rpx;
	background: #ffffff;
	border-top: 2rpx solid rgb(228, 228, 228);
}
.imageBlock{
	width: 20%;
	float: left;
	height: 160rpx;
}
.titleBlock{
	width: 80%;
	float: left;
	height: 160rpx;
}
.groupImg{
	border-radius: 10rpx;
	position: relative;
	padding:30rpx;
	height: 80rpx;
	width: 80rpx;
}
.titleText{
	vertical-align: middle;
	position: relative;
	top:30rpx;
	letter-spacing:4rpx;
}