.container{
	height: 100%;
	width: 100vw;
}
.message_rec{
	height: 86vh;
	width: 100vw;
}
.message_send{
	width: 100%;
	height: 50px;
	opacity: 0.52;
}
.blankArea{
	height: 1vw;
	width: 100vw;
}
.confirm_but{
	background:#FFD557;
	color:white;
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	right: 10rpx;
	bottom: 10px;
	height: 30px;
	width: 150rpx;
	align-items: center;
}
.inputArea{
	position: relative;
	height: 38px;
	top:6px;
	left: 2%;
	width: 75%;
	background:#ffffff;
	opacity: 1;
	border-radius: 5px;
}
.msgDate{
	display: -webkit-box;
	text-overflow: ellipsis; 
	word-wrap: break-word; 
	white-space: normal !important;
	-webkit-box-orient: vertical;
	font-size: 60%;
	color: #B8B8B8;
}
.msgText{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	background: #ececec80;
	border-radius: 15rpx;
	width: 80vw;
	margin-left: 14vw;
}
.msgTextAlign{
	padding: 0rpx 16rpx;
	vertical-align: middle;
	word-break: break-all;
	text-overflow: ellipsis;
	white-space: normal !important;
}
.msgText2{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	background: #ececec80;
	border-radius: 15rpx;
	width: 80vw;
	margin-left: 6vw;
}

.chatArea{
	width: 100vw;
	display: flex;
	min-height: 10vw;
}

.author_name{
	position: relative;
	left: 3vw;
	font-size: 120%;
	font-weight: 700;
	color: #94AFCE;
}

.msg_avt1{
	position: absolute;
	left: 1vw;
	height: 10vw;
	width: 10vw;
	border-radius: 100px;
}
.msg_avt2{
	position: absolute;
	right: 1vw;
	height: 10vw;
	width: 10vw;
	border-radius: 100px;
}
.timeB{
	display: flex;
	justify-content: center;
	height: 4vh;
	width: 100vw;
	align-items: flex-start;
}