.container{
	width: 100vw;
	height: 100vh;
	background: #ececec80;
}

.gcBlock{
	width:100vw;
	height: 160rpx;
	background: #ffffff;
	border-top: 2rpx solid rgb(228, 228, 228);
}
.imageBlock{
	width: 20%;
	float: left;
	height: 160rpx;
}
.textBlock{
	width: 80%;
	float: left;
	height: 160rpx;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.fLine{
	height: 40%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}
.sLine{
	height: 60%;
	width: 100%;
}
.groupImg{
	border-radius: 10rpx;
	position: relative;
	padding:30rpx;
	height: 80rpx;
	width: 80rpx;
}
.titleText{
	letter-spacing:4rpx;
	margin-left: 8rpx;
}
.messageText{
	font-size: 90%;
	color: #8a8a8a;
	margin-left: 25rpx;
}
.timeText{
	font-size: 70%;
	color: #B8B8B8;
	margin-right: 15rpx;
}