.bg{
  width: 100%;
  height: 100%;
}
.reportPanel{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top:0px;
	left: 0px;
}
.reportBut{
	background: green;
	height: 10%;
	margin-top: 10%;
	margin-left: 25%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 22rpx;
	font-size: 150%;
}
.menuImgs{
	
		width: 20vw;
		height: 20vw;
}
.menuButs{
}
.menuTxts{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.menuCnt{
	position: absolute;
	height:35vh;
	width:100vw;
	left:0px;
	bottom: 0px;
	background: whitesmoke;
	border-top-left-radius: 35px;
	border-top-right-radius:35px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.reportTop{
	width:100%;height:10%;background: #ffbf00;border-top-left-radius: 20rpx;border-top-right-radius: 20rpx;text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 135%;
}
.reportReason{
	height: 60%;
	margin-top: 5%;
	margin-left: 5%;
	width: 90%;
	overflow-wrap: break-word;
	background: #ededed;
}
.reportCnt{
	position: absolute;
	top:10vh;
	left:10vw;
	width: 80vw;
	height: 80vh;
	background: whitesmoke;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.reportBack{
	
		width: 100vw;
		height: 100vh;
		background: gray;
		opacity: 0.5;
}
.page_intend{
  position: relative;
  left: 3%;
  width: 94%; 
}
/*这里开始是用户名+等级*/
.username_lvl{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ertai{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/*这里往上是用户名+等级*/
.username{
  text-align: left;
  font-size:95%;
  color: black;
}
.lvlInd1{
  margin-left: 20rpx;
  font-family: PingFangTC-Semibold;
  text-align: left;
  font-size:90%;
  color: goldenrod;
  font-weight: bold;
}
.moreFunction{
	position: absolute;
	right:30rpx;
	top:30rpx;
	height: 40rpx;
	width: 40rpx;
    margin-right: 0px;
}

/*评论，点赞图标*/
.vote_comment_icon{
  position: relative;
  top: 40rpx;
  height:100rpx;
  display: flex;
  /*row 横向  column 列表  */
  flex-direction: row;
}

/*隐藏滚动条*/
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
/*头像*/
.AVcontainer{
  height: 110rpx;
  display: flex;
  /*row 横向  column 列表  */
  flex-direction: row;
}
.user_info_bar{
  position: relative;
  left: 20rpx;
  top: 20rpx;
  height: 110rpx;
  display: flex;
  /*row 横向  column 列表  */
  flex-direction: column;
}
.date{
  position: relative;
  top:7rpx;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: gray;
}
.authorimg{
  border-radius: 10rpx;
  position: relative;
  top:30rpx;
  height: 80rpx;
  width: 80rpx;
}
/*帖子名*/
.post_name{
  position: relative;
  top:10rpx;
  word-break: break-all;
  font-size: 120%;
}
/*帖子内容*/
.post_content{
  position: relative;
  top:10rpx;
  word-break: break-all;
  font-size: 95%;
}

/*评论*/
.comment{
  position: relative;
  top:20rpx;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 100%;
  background:#ffffff;
  border-top: 2rpx solid rgb(228, 228, 228);
  min-height: 200rpx;
}

.ComContainer{
  position: relative;
  height: 130rpx;
  display: flex;
  /*row 横向  column 列表  */
  flex-direction: row;

}

/*底部评论，按钮*/
.botBlock{
  height: 50px;
  background:rgb(228, 228, 228);
  opacity: 0.52;
}
.botBut1{
  position: relative;
  height: 38px;
  top:6px;
  left: 2%;
  width: 75%;
  background:#ffffff;
  opacity: 1;
  border-radius: 5px;
}
.cmtBt{
  background:#ffc000;
  color:white;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  right: 10rpx;
  bottom: 10px;
  height: 30px;
  width: 150rpx;
  align-items: center;
}
.cover0{
  position: absolute;
  top:0rpx;
  left: 0rpx;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover{
  position: absolute;
  top:0rpx;
  left: 0rpx;
  width: 100%;
  height: 100%;
  background: rgb(99, 99, 99);
  opacity: 0.75;
  z-index: 2;
}
.cover2{
  width: 400rpx;
  height: 500rpx;
  background: rgb(118, 189, 255);
  opacity: 1;
  display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 15;
  border-radius: 25rpx;
}
.sendingGif{
  width: 200rpx;
  height: 200rpx;
}
.loadingText{
  font-family: 'Courier New', Courier, monospace;
  font-size: 130%;
  font-weight: bold;
}