Page{
    width: 100%;
    height: 100%;
}
.page_intend{
  position: relative;
  left: 3%;
  width: 94%; 
}
/*头像*/
.AVcontainer{
  height: 110rpx;
  display: flex;
  /*row 横向  column 列表  */
  flex-direction: row;
}
.AVcontainer1{
  position: relative;
  left: 20rpx;
  top: 10rpx;
  height: 110rpx;
  display: flex;
  /*row 横向  column 列表  */
  flex-direction: column;
}
.authorimg{
  border-radius: 10rpx;
  position: relative;
  top:20rpx;
  height: 80rpx;
  width: 80rpx;
}
.date{
  position: relative;
  top:9rpx;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: gray;
}
.titleAndPrice{
  display: flex;
  /*row 横向  column 列表  */
  flex-direction: row;
}
.title{
  position: flex;
  display: flex;
  width:100%;
  font-size: 120%;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  font-weight: bold;
}
.sectitle{
  height: 100rpx;
  width: 200rpx;
  background-color:#edcd4e;
  display: flex;
  align-items: center;
  justify-content: center;
  position: flex;
  margin-right: 0%; /*这里需要右对齐，能改吗？？？如果价格超过5位数可能出错，先留着*/
  font-size: 120%;
  color:white;
}
.viewBorder{
  position: relative;
  top:20rpx;
  width: 100%;
  height: 14%;
  bottom:0%;
  left: 0%;
  font-size: 120%;
  display: flex;
  /*row 横向  column 列表  */
  flex-direction: row;
}
.tag_icon{
  position: relative;
  left:40rpx;
  width:40rpx;
  height:40rpx;
}
.text_skewing{
  position: relative;
  left:40rpx;
  top:5rpx;
  color: #8a8a8a;
  font-size: 75%;
}
.des{
  position: flex;
  margin-top:10rpx;
  margin-left:40rpx;
  width:100%;
  font-size: 100%;
  background:#ffffff;
}
.atc{
  position: absolute;
  background-color: white;
  width: 100%;
  height: 10%;
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adtocart {
  width: 78%;
  margin-right: 3%;
  margin-bottom: 0%;
  background-color: #FFCC00;
  color: #FFF;
  text-align: center;
}
.btn_hover {
  background-color: pink;
}
.img{
  position: absolute;
  height: 100rpx;
  width: 100rpx;
  border-radius: 100rpx;
  left: 20rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}