.we-slide:nth-child(1){
  background-color: whitesmoke
}
/*第二个界面背景色*/
.we-slide:nth-child(2){
  background-color: whitesmoke
}
::-webkit-scrollbar{
  width: 0;
  height: 0;
  opacity: 0 
}
.loopads{
  position: absolute;
  top: 0px;
  left:0px;

}
.Cart{
  position: absolute;
  bottom: 4%;
  right: 6%;
  width: 120rpx;
  height: 120rpx;
}
.LoopTxt{
   position: relative;
  top:-60%;
  left: 5%;
  font-size: 180%;
  font-weight: bold;
  color: white;
  word-break:normal;
}
.swiper-tab-item{
    width: 50%; 
    color:#000000;
  font-size: 120%;
}
/*“二手交易”这几个按钮，按下去之后的颜色*/
.active{
    color:rgb(32, 57, 80);
    border-bottom: 8rpx solid rgb(0, 132, 255);
    background: #ffffff;
}
/*这两个先不要动，是控制最上面两行总体排版的*/
.rowSelector{
  position: absolute;
  top: 30%;
    width: 100%;
    border-bottom: 2rpx solid #ccc;
    text-align: center;
    height: 6%;
    line-height: 88rpx;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.itemsDis{
  background: red;
  position: absolute;
  top:40%;
}
.topswiper{
  position: absolute;
  top:36%;
  width: 100%;
  height: 64%;
}
.itemCardOdd{
  height: 60%;
  width: 50%;
  position: absolute;
  left:0%;
}
.itemCardEven{
  height: 60%;
  width: 50%;
  
  position: absolute;
  right:0%;
}
.itemImg{
  height: 68%;
  width: 88%;
  position: absolute;
  top:4%;
  left:6%;
}
.brandText{
  color: grey;
  font-size: 80%;
  position: absolute;
  top: 72%;
  left: 6%;
}
.titleText{
  position: absolute;
  top: 78%;
  font-size: 120%;
  left: 6%;
}
.priceText{
  position: absolute;
  top: 90%;
  font-size: 90%;
  left: 6%;
}
.atc{
  height: 10%;
  width: 15%;
  position: absolute;
  bottom:4%;
  right:6%;
}